# S.P. Badminton Tourney 3 · Environment Variables Template
PORT=3000

# Neon PostgreSQL Online Database URL
DATABASE_URL=postgresql://username:password@ep-sample-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require

# Security & Secrets
JWT_SECRET=your_secret_key_here
DEFAULT_ADMIN_PIN=9903
DEFAULT_SCORER_PIN=123499

# Email Notifications (Optional)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
ADMIN_EMAILS=

# Web Push Notification VAPID Keys
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@example.com
