# S.P. Badminton Tourney 3 · Environment Variables Template
PORT=3000

# Neon PostgreSQL Online Database URL
DATABASE_URL=postgresql://username:password@ep-sample-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require

# Email Notifications (Optional)
EMAIL_USER=
EMAIL_PASS=
